* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  display: flex;
}

.bgImage {
  background-image: url(./images/romain-dancre-doplSDELX7E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.logoPanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  border-right: 1px black solid;
}

.logo {
  flex: 35 1 auto;
  border-bottom: 1px black solid;
}

.credit {
  flex: 65 1 auto;
}

.formPanel {
  height: 100vh;
  width: 60%;
  background-color: snow;
  opacity: 0.95;
}